@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@custom-variant dark (&:where(.dark, .dark *));
@media (prefers-color-scheme: dark) {
  :root {
    --background: #101428;
    --foreground: #fff;
  }
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: normal;
}

@layer utilities {
  .site-width {
    @apply mx-auto w-full max-w-525 px-6 md:px-8 lg:px-24;
  }

  .site-width-md {
    @apply mx-auto w-full max-w-390 px-4 sm:px-6 lg:px-8;
  }

  .site-width-sm {
    @apply px-6 md:px-8 lg:px-24 max-w-330 2xl:px-0 2xl:max-w-330 mx-auto;
  }

  .h1-tag {
    @apply text-[40px] xl:text-[52px] 2xl:text-[84px] font-bold;
  }

  .h2-tag {
    @apply text-[30px] xl:text-[40px] 2xl:text-[56px] font-bold;
  }

  .h3-tag {
    @apply text-[24px] sm:text-[30px] xl:text-[30px] 2xl:text-[40px] font-bold;
  }

  .h4-tag {
    @apply text-[20px] lg:text-[26px] font-semibold leading-tight;
  }

  .p-tag {
    @apply text-[16px] xl:text-xl 2xl:text-2xl font-medium leading-tight;
  }

  .text-thm {
    color: #2BBA4D;
  }

  .bg-thm {
    background-color: #2BBA4D;
  }

  .font-saira {
    font-family: 'Saira', sans-serif;
  }
}

@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.marquee {
  overflow: hidden;
  white-space: nowrap;
}

.marquee-track {
  display: inline-flex;
  gap: 3rem;
  animation: marquee 18s linear infinite;
}
th {
  text-align: left;
}
button {
  cursor: pointer;
}
@keyframes letterPulse {
    0% {
        opacity: 0.3;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
        transform: translateY(-6px);
    }
    100% {
        opacity: 0.3;
        transform: translateY(0);
    }
}
@keyframes scanText {
    0% { transform: translateX(-120%); }
    100% { transform: translateX(220%); }
}

@keyframes wave {
    0%   { transform: translateY(0); opacity: 0.5; }
    50%  { transform: translateY(-8px); opacity: 1; }
    100% { transform: translateY(0); opacity: 0.5; }
}

@keyframes flicker {
    0%   { opacity: 0.2; }
    10%  { opacity: 1; }
    20%  { opacity: 0.4; }
    30%  { opacity: 1; }
    100% { opacity: 0.2; }
}

@keyframes scan {
    0%   { transform: translateX(-120%); }
    100% { transform: translateX(320%); }
}

@keyframes ticker {
    0%   { opacity: 0.3; }
    50%  { opacity: 1; }
    100% { opacity: 0.3; }
}
@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}


/* TradingView header / top toolbar fix */

:root.dark .tv-lightweight-charts,
:root.dark .chart-page,
:root.dark .layout__area--top,
:root.dark .tv-header,
:root.dark .tv-header__inner {
  background-color: #0f172a !important; /* your dark bg */
}

:root.light .layout__area--top,
:root.light .tv-header,
:root.light .tv-header__inner {
  background-color: #ffffff !important;
}
